/****************************************************************************
  FileName      [ Board.css ]
  PackageName   [ src/components/css ]
  Author        [ Cheng-Hua Lu, Chin-Yi Cheng ]
  Synopsis      [ This file set the style of Board. ]
  Copyright     [ 2021 10 ]
****************************************************************************/

*{
    font-family: 'Futura';
}
.boardPage{
    margin: 0;
    
    /* height: 100%; */
}
.boardWrapper{
    position:absolute;
    height: 100%;
    width: 100%;
    
    
}
.boardContainer{
    border: 10px solid darkgray;
    border-radius: 10px;
    background-color: darkgrey;
    align-items: center;
    justify-content: center;

    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btnReady{
    font-size: 20px;
    padding: 10px 20px;
    border: transparent;
    border-radius: 25px;
    margin: 20px auto;
    color: #0f0f4b;
    background-color: lightblue;
    border: 3px solid #0f0f4b;
    position: absolute;
    left: 0%;
}

.btnReady:hover:not(:disabled){
    cursor: pointer;
    background-color: #0f0f4b;
    color: lightblue;
    border: 3px solid transparent;
}

.btnReady:disabled{
    cursor: pointer;
    background-color: #cccccc;
    color: #666666;
    border: 3px solid transparent;
}