*{
  font-family: 'Futura';
  color: #0f0f4b;
}

.dialog {
  width: 500px;
  min-height: 400px;
  height: fit-content;
  padding: 40px 40px 35px 40px;
  background-color: lightblue;
  border: transparent;
  border-radius: 15px;
  border: 3px solid #0f0f4b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialogTitle {
  font-size: 40px;
  font-family: 'Futura';
  font-weight: 1000;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.alignedText {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.alignedTextLeft {
  width: 190px;
  margin: 10px 50px 20px 0px;
  font-size: 25px;
}

.dialogBtn {
  font-size: 25px;
  padding: 10px 30px;
  border: transparent;
  border-radius: 15px;
  margin: 35px 20px 0px 20px;
  color: white;
  background-color: #0f0f4b;
  border: 3px solid #0f0f4b;
}

.radio_group {
  display: flex;
  flex-direction: row;
  width: 219px;
  padding-left: 3x;
  margin-bottom: 0px;
}

.radio_set {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 30px;
  margin-left: 3px;
  transform: translateY(-5px);
}

input[type='radio'], 
input[type='radio']:after, 
input[type='radio']:hover:after, 
input[type='radio']:focus:after, 
input[type='radio']:checked:after {
  width: 11px;
  height: 11px;
  margin-left: 0px;
  margin-right: 8px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 4px solid white;
}
input[type='radio']:after {
  background-color: #d1d3d1;
}
input[type='radio']:hover:after {
  background-color: #636394;
}
input[type='radio']:focus:after {
  background-color: #0f0f4b;
}
input[type='radio']:checked:after {
  background-color: #0f0f4b;
}

.radio_label_text {
  font-size: 20px;
  color: #0f0f4b;
  margin-left: 6px;
}

input {
  width: 200px;
  height: 26px;
  border-radius: 5px;
  border: 1.5px solid #0f0f4b;
  font-size: 18px;
  padding: 5px 8px 5px 8px;
}

input:focus{
  border: 1.5px solid transparent;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1; /* Firefox */
}
