/****************************************************************************
  FileName      [ Modal.css ]
  PackageName   [ src/components/css ]
  Author        [ Cheng-Hua Lu, Chin-Yi Cheng ]
  Synopsis      [ This file set the style of Modal. ]
  Copyright     [ 2021 10 ]
****************************************************************************/

*{
    font-family: 'Futura';
}
.modal{
    z-index: 1;
    margin: auto;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.modalWrapper{
    height: 30%;
}
.modalContent{
    margin: auto 30%;
    justify-content: center;
    text-align: center;
    height: 40%;
    width: auto;
    background-color: lightblue;
    border-radius: 25px;
    
}
.modalResult{
    color: #0f0f4b;
    width: 100%;
    margin: auto;
    font-size: 50px;
    font-weight: 700;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalSubText {
    color: #0f0f4b;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 3px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalBtnWrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.modalBtn{
    background-color: #0f0f4b;
    color: lightblue;
    border: 3px solid transparent;
    font-size: 25px;
    font-weight: 300;
    border-radius: 25px;
    padding: 10px 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.modalBtn:hover{
    cursor: pointer;
    color: #0f0f4b;
    background-color: lightblue;
    border: 3px solid #0f0f4b;
}